In [1]:
import pandas as pd
import numpy as np
df= pd.read_csv("HousePrices.csv")
# Example: Creating a new feature 'total_rooms' by adding bedrooms and bathrooms
df['total_rooms'] = df['bedrooms'] + df['bathrooms']
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,total_rooms
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,4.50
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,7.50
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,5.00
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,5.25
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,6.50

In [2]:
# Example: Creating a new feature 'house_age' by subtracting the year built from the current year
current_year = pd.to_datetime('now').year
df['house_age'] = current_year - df['yr_built']
print(df[['yr_built', 'house_age']].head())

   yr_built  house_age
0      1955         70
1      1921        104
2      1966         59
3      1963         62
4      1976         49

/tmp/ipykernel_853/2395455366.py:2: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  current_year = pd.to_datetime('now').year

In [3]:
# Example: Creating a new feature 'price_per_sqft' by dividing price by sqft_living
df['price_per_sqft'] = df['price'] / df['sqft_living']
print(df[['price', 'sqft_living', 'price_per_sqft']].head())

       price  sqft_living  price_per_sqft
0   313000.0         1340      233.582090
1  2384000.0         3650      653.150685
2   342000.0         1930      177.202073
3   420000.0         2000      210.000000
4   550000.0         1940      283.505155

In [4]:
# Logarithmic transformation of the 'price' column
df['log_price'] = np.log(df['price'])
df.head()

/usr/local/lib/python3.10/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_built,yr_renovated,street,city,statezip,country,total_rooms,house_age,price_per_sqft,log_price
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,...,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,4.50,70,233.582090,12.653958
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,...,1921,0,709 W Blaine St,Seattle,WA 98119,USA,7.50,104,653.150685,14.684290
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,...,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,5.00,59,177.202073,12.742566
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,...,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,5.25,62,210.000000,12.948010
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,...,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,6.50,49,283.505155,13.217674

In [5]:
# Logarithmic transformation of the 'price' column
df['log_sqftlog'] = np.log(df['sqft_lot'])
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_renovated,street,city,statezip,country,total_rooms,house_age,price_per_sqft,log_price,log_sqftlog
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,...,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,4.50,70,233.582090,12.653958,8.976136
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,...,0,709 W Blaine St,Seattle,WA 98119,USA,7.50,104,653.150685,14.684290,9.110520
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,...,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,5.00,59,177.202073,12.742566,9.388235
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,...,0,857 170th Pl NE,Bellevue,WA 98008,USA,5.25,62,210.000000,12.948010,8.990940
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,...,1992,9105 170th Ave NE,Redmond,WA 98052,USA,6.50,49,283.505155,13.217674,9.259131