In [ ]:
import pandas as pd
df = pd.read_csv('HousePrices.csv')

In [ ]:
# Inspecting the first few rows of the DataFrame
print(df.head())

# Displaying the last few rows of the DataFrame
print(df.tail())

# Providing information about the DataFrame, including data types and non-null counts
print(df.info())

# Displaying descriptive statistics of the DataFrame, such as mean, std, min, max, and so on.
print(df.describe())

# Displaying datatypes of the columns
df.dtypes

                  date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  2014-05-02 00:00:00   313000.0       3.0       1.50         1340      7912
1  2014-05-02 00:00:00  2384000.0       5.0       2.50         3650      9050
2  2014-05-02 00:00:00   342000.0       3.0       2.00         1930     11947
3  2014-05-02 00:00:00   420000.0       3.0       2.25         2000      8030
4  2014-05-02 00:00:00   550000.0       4.0       2.50         1940     10500

   floors  waterfront  view  condition  sqft_above  sqft_basement  yr_built  \
0     1.5           0     0          3        1340              0      1955
1     2.0           0     4          5        3370            280      1921
2     1.0           0     0          4        1930              0      1966
3     1.0           0     0          4        1000           1000      1963
4     1.0           0     0          4        1140            800      1976

   yr_renovated                    street       city  statezip country
0          2005      18810 Densmore Ave N  Shoreline  WA 98133     USA
1             0           709 W Blaine St    Seattle  WA 98119     USA
2             0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
3             0           857 170th Pl NE   Bellevue  WA 98008     USA
4          1992         9105 170th Ave NE    Redmond  WA 98052     USA
                     date          price  bedrooms  bathrooms  sqft_living  \
4595  2014-07-09 00:00:00  308166.666667       3.0       1.75         1510
4596  2014-07-09 00:00:00  534333.333333       3.0       2.50         1460
4597  2014-07-09 00:00:00  416904.166667       3.0       2.50         3010
4598  2014-07-10 00:00:00  203400.000000       4.0       2.00         2090
4599  2014-07-10 00:00:00  220600.000000       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated             street       city  \
4595              0      1954          1979     501 N 143rd St    Seattle
4596              0      1983          2009   14855 SE 10th Pl   Bellevue
4597              0      2009             0   759 Ilwaco Pl NE     Renton
4598           1020      1974             0  5148 S Creston St    Seattle
4599              0      1990             0  18717 SE 258th St  Covington

      statezip country
4595  WA 98133     USA
4596  WA 98007     USA
4597  WA 98059     USA
4598  WA 98178     USA
4599  WA 98042     USA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB
None
              price     bedrooms    bathrooms   sqft_living      sqft_lot  \
count  4.600000e+03  4600.000000  4600.000000   4600.000000  4.600000e+03
mean   5.519630e+05     3.400870     2.160815   2139.346957  1.485252e+04
std    5.638347e+05     0.908848     0.783781    963.206916  3.588444e+04
min    0.000000e+00     0.000000     0.000000    370.000000  6.380000e+02
25%    3.228750e+05     3.000000     1.750000   1460.000000  5.000750e+03
50%    4.609435e+05     3.000000     2.250000   1980.000000  7.683000e+03
75%    6.549625e+05     4.000000     2.500000   2620.000000  1.100125e+04
max    2.659000e+07     9.000000     8.000000  13540.000000  1.074218e+06

            floors   waterfront         view    condition   sqft_above  \
count  4600.000000  4600.000000  4600.000000  4600.000000  4600.000000
mean      1.512065     0.007174     0.240652     3.451739  1827.265435
std       0.538288     0.084404     0.778405     0.677230   862.168977
min       1.000000     0.000000     0.000000     1.000000   370.000000
25%       1.000000     0.000000     0.000000     3.000000  1190.000000
50%       1.500000     0.000000     0.000000     3.000000  1590.000000
75%       2.000000     0.000000     0.000000     4.000000  2300.000000
max       3.500000     1.000000     4.000000     5.000000  9410.000000

       sqft_basement     yr_built  yr_renovated
count    4600.000000  4600.000000   4600.000000
mean      312.081522  1970.786304    808.608261
std       464.137228    29.731848    979.414536
min         0.000000  1900.000000      0.000000
25%         0.000000  1951.000000      0.000000
50%         0.000000  1976.000000      0.000000
75%       610.000000  1997.000000   1999.000000
max      4820.000000  2014.000000   2014.000000

date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [ ]:
# Checking for missing values
missing_values = df.isnull().sum()
print("Missing Values per Column:")
print(missing_values)

Missing Values per Column:
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [ ]:
import pandas as pd
df = pd.read_csv('abc.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4596 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4597 non-null   float64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(5), int64(8), object(5)
memory usage: 647.0+ KB

In [ ]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/2/2014 0:00,313000.0,NaN,1.50,NaN,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,5/2/2014 0:00,2384000.0,NaN,2.50,NaN,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,5/2/2014 0:00,342000.0,NaN,2.00,NaN,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,5/2/2014 0:00,420000.0,NaN,2.25,2000.0,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,5/2/2014 0:00,550000.0,4.0,2.50,1940.0,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [8]:
# Checking for missing values
missing_values = df.isnull().sum()
print("Missing Values per Column:")
print(missing_values)

Missing Values per Column:
date             0
price            0
bedrooms         4
bathrooms        0
sqft_living      3
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [9]:
# Handling missing values using imputation
df_filled = df.fillna(df.iloc[:, 1:14].mean())

In [10]:
df_filled.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/2/2014 0:00,313000.0,3.400783,1.50,2139.237764,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,5/2/2014 0:00,2384000.0,3.400783,2.50,2139.237764,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,5/2/2014 0:00,342000.0,3.400783,2.00,2139.237764,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,5/2/2014 0:00,420000.0,3.400783,2.25,2000.000000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,5/2/2014 0:00,550000.0,4.000000,2.50,1940.000000,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Load the CSV file into a DataFrame
df = pd.read_csv('HousePrices.csv')

# Select numeric columns only for scaling
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit and transform the numeric columns
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

# Display the scaled DataFrame
print(df.head())
###tandardScaler changes the numbers in a column so that they’re centered around zero and spread out
##evenly — kind of like making sure all the numbers are measured on the same scale.
##MinMaxScalar

                  date     price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  2014-05-02 00:00:00 -0.423864 -0.441122  -0.843204    -0.829971 -0.193434
1  2014-05-02 00:00:00  3.249598  1.759705   0.432802     1.568528 -0.161718
2  2014-05-02 00:00:00 -0.372424 -0.441122  -0.205201    -0.217367 -0.080978
3  2014-05-02 00:00:00 -0.234071 -0.441122   0.113800    -0.144686 -0.190145
4  2014-05-02 00:00:00 -0.003482  0.659291   0.432802    -0.206984 -0.121306

     floors  waterfront      view  condition  sqft_above  sqft_basement  \
0 -0.022416   -0.085004 -0.309194  -0.667112   -0.565224      -0.672464
1  0.906555   -0.085004  4.830079   2.286416    1.789559      -0.069128
2 -0.951388   -0.085004 -0.309194   0.809652    0.119171      -0.672464
3 -0.951388   -0.085004 -0.309194   0.809652   -0.959621       1.482306
4 -0.951388   -0.085004 -0.309194   0.809652   -0.797222       1.051352

   yr_built  yr_renovated                    street       city  statezip  \
0 -0.531014      1.221670      18810 Densmore Ave N  Shoreline  WA 98133
1 -1.674693     -0.825693           709 W Blaine St    Seattle  WA 98119
2 -0.161000     -0.825693  26206-26214 143rd Ave SE       Kent  WA 98042
3 -0.261913     -0.825693           857 170th Pl NE   Bellevue  WA 98008
4  0.175376      1.208396         9105 170th Ave NE    Redmond  WA 98052

  country
0     USA
1     USA
2     USA
3     USA
4     USA

In [ ]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('HousePrices.csv')

# Select categorical columns
categorical_cols = df.select_dtypes(include=['object', 'category']).columns

# Apply one-hot encoding to categorical columns
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# Display the encoded DataFrame
print(df_encoded.head())

       price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  \
0   313000.0       3.0       1.50         1340      7912     1.5           0
1  2384000.0       5.0       2.50         3650      9050     2.0           0
2   342000.0       3.0       2.00         1930     11947     1.0           0
3   420000.0       3.0       2.25         2000      8030     1.0           0
4   550000.0       4.0       2.50         1940     10500     1.0           0

   view  condition  sqft_above  ...  statezip_WA 98155  statezip_WA 98166  \
0     0          3        1340  ...              False              False
1     4          5        3370  ...              False              False
2     0          4        1930  ...              False              False
3     0          4        1000  ...              False              False
4     0          4        1140  ...              False              False

   statezip_WA 98168  statezip_WA 98177  statezip_WA 98178  statezip_WA 98188  \
0              False              False              False              False
1              False              False              False              False
2              False              False              False              False
3              False              False              False              False
4              False              False              False              False

   statezip_WA 98198  statezip_WA 98199  statezip_WA 98288  statezip_WA 98354
0              False              False              False              False
1              False              False              False              False
2              False              False              False              False
3              False              False              False              False
4              False              False              False              False

[5 rows x 4725 columns]

In [ ]:
##WINSORIZATION:
# Handling outliers by winsorizing
from scipy.stats.mstats import winsorize

# Check if 'price' column exists in the DataFrame
if 'price' in df.columns:
    # Winsorizing the 'price' column with limits [0.05, 0.05]
    df['Winsorized_Price'] = winsorize(df['price'], limits=[0.05, 0.05])

    # Displaying the DataFrame with the winsorized column
    print("DataFrame with winsorized column:")
    print(df)
else:
    print("The 'price' column does not exist in the DataFrame.")

DataFrame with winsorized column:
                     date         price  bedrooms  bathrooms  sqft_living  \
0     2014-05-02 00:00:00  3.130000e+05       3.0       1.50         1340
1     2014-05-02 00:00:00  2.384000e+06       5.0       2.50         3650
2     2014-05-02 00:00:00  3.420000e+05       3.0       2.00         1930
3     2014-05-02 00:00:00  4.200000e+05       3.0       2.25         2000
4     2014-05-02 00:00:00  5.500000e+05       4.0       2.50         1940
...                   ...           ...       ...        ...          ...
4595  2014-07-09 00:00:00  3.081667e+05       3.0       1.75         1510
4596  2014-07-09 00:00:00  5.343333e+05       3.0       2.50         1460
4597  2014-07-09 00:00:00  4.169042e+05       3.0       2.50         3010
4598  2014-07-10 00:00:00  2.034000e+05       4.0       2.00         2090
4599  2014-07-10 00:00:00  2.206000e+05       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0         7912     1.5           0     0          3        1340
1         9050     2.0           0     4          5        3370
2        11947     1.0           0     0          4        1930
3         8030     1.0           0     0          4        1000
4        10500     1.0           0     0          4        1140
...        ...     ...         ...   ...        ...         ...
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                    street  \
0                 0      1955          2005      18810 Densmore Ave N
1               280      1921             0           709 W Blaine St
2                 0      1966             0  26206-26214 143rd Ave SE
3              1000      1963             0           857 170th Pl NE
4               800      1976          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595              0      1954          1979            501 N 143rd St
4596              0      1983          2009          14855 SE 10th Pl
4597              0      2009             0          759 Ilwaco Pl NE
4598           1020      1974             0         5148 S Creston St
4599              0      1990             0         18717 SE 258th St

           city  statezip country  Winsorized_Price
0     Shoreline  WA 98133     USA      3.130000e+05
1       Seattle  WA 98119     USA      1.184000e+06
2          Kent  WA 98042     USA      3.420000e+05
3      Bellevue  WA 98008     USA      4.200000e+05
4       Redmond  WA 98052     USA      5.500000e+05
...         ...       ...     ...               ...
4595    Seattle  WA 98133     USA      3.081667e+05
4596   Bellevue  WA 98007     USA      5.343333e+05
4597     Renton  WA 98059     USA      4.169042e+05
4598    Seattle  WA 98178     USA      2.034000e+05
4599  Covington  WA 98042     USA      2.206000e+05

[4600 rows x 19 columns]